{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if is_officer %}

<!-- Navbar  -->
{% include 'partials/_navbar-officer.html' %}

<!--Alerts included here -->
{% include 'partials/_alerts.html' %}

<!-- Main Content Start -->
<div class="container-fluid">
    <br>
    <br>
    {% if responses %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="table-responsive">
                <table id="filing-table" class="table table-striped table-bordered table-hover table-fw-widget">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Related Case</th>
                            <th scope="col">Filing Timestamp</th>
                            <th scope="col">Advocate</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for response in responses %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{response.respond_to_case_type}}/{{response.respond_to_case_number}}/{{response.respond_to_case_year}}</td>
                            <td>{{ response.response_time }}</td>
                            <td>{{ response.advocate_hc_code}} - {{ response.responding_advocate.first_name }}
                                {{ response.responding_advocate.last_name }}</td>
                            <td><a href="{% url 'view_response' response.id %}">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4" style="text-align: center;">
            No e-filing responses filed till date.
        </div>
    </div>
    <br>
    {% endif %}
</div>

{% else %}
<h1>This page is for office use only!</h1>
{% endif %}

<script>
    $(document).ready(function () {
        $('#filing-table').dataTable({
            "searching": true,
            "paging": true,
            "ordering": true
        });
    });
</script>

{% endblock %}